*{
  margin: 0px;
  padding: 0px;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.nav{
  height:76px;
  background-color: #212429;
  padding: 0px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-title{
  display: flex;
  align-items: center;
  gap: 10px;
}

.green{
  color: #06f506;
}