*{
  margin: 0px;
  padding: 0px;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #2d3137;
}

.nav{
  height:76px;
  background-color: #212429;
  padding:  10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-title{
  display: flex;
  align-items: center;
  gap: 10px;
}

.green{
  color: #06f506;
}

.nav-l{
  display: flex;
  align-items: center;
  gap: 20px;
}

/* .categories{
  width: 150px;
  background-color: rgb(63, 61, 61);
  padding:5px;
  border-radius: 50px;
  
 
} */

.categories-btn{
  color: white;
  display: flex;
  align-items: center;
  gap:5px;
  background-color: #2d3137;
  font-size: 15px;
  width: 100%;
  border-radius: 50px;
  justify-content: center;
  border: none;
  cursor: pointer;
  padding:10px 20px;
  border: 5px solid rgb(63, 61, 61);
}

.categories:active .categories-btn{
  opacity: 0.7;
}

.infi{
  background-color: #4b4e51;
  border: 5px solid rgb(63, 61, 61);
  border-radius: 50px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.infi:active{
  opacity: 0.7;
}


.infi-i{
  width: 35px;   /* width */
  height: 35px;
}


.active-infi{
  background: linear-gradient(135deg, rgb(66 126 30) 0, rgb(52 100 0 / 96%) 49%, rgba(63, 138, 31, 0.5215686274509804) 50%, #42a52d 100%);
}


.search-div{
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #4b4e51;
  border: 5px solid rgb(63, 61, 61);
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
}

.search-div:hover{
  outline: 0;
  box-shadow: 0 0 6px #90ff00;
}

.search-fld{
  background: none;
  border: none;
  caret-color: white;
  color: white;
  
}

.search-fld:focus{
  outline: none;
  box-shadow: none;
}

.search-fld::placeholder{
  color: gray;
}


.body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  
  padding:30px;
}


.top-2{
  display: flex;
  align-items: center;
  gap:20px;
  justify-content: center;
  
}

.diff-i{
  color: white;
  background-color: #2D3136;
  border: 1px solid #4C5158;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:10px 20px;
  width:150px;
  cursor: pointer;
  font-weight: bolder;
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  gap: 5px;
}

.diff-i:hover{
  background: linear-gradient(135deg, rgb(66 126 30) 0, rgb(52 100 0 / 96%) 49%, rgba(63, 138, 31, 0.5215686274509804) 50%, #42a52d 100%);
  border:1px solid greenyellow;
  box-shadow: 0 0 6px #90ff00;
  
}

.active-cat{
  background: linear-gradient(135deg, rgb(66 126 30) 0, rgb(52 100 0 / 96%) 49%, rgba(63, 138, 31, 0.5215686274509804) 50%, #42a52d 100%);
  border:1px solid greenyellow;
  box-shadow: 0 0 6px #90ff00;
}


.wallpapers{
  display: flex;
  gap: 90px;
  align-items: center;
  flex-wrap: wrap;
  margin-top:20px;
  margin-left: 100px;
}


.wallpaper{
  height: 225px;
  width: 350px;
  cursor: pointer;
}

.wallpaper-img{
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 20px;
  transition: transform 0.4s ease;
}

.wallpaper-img:hover  {
  transform: scale(1.1); 
  border: 1px solid #90ff00;
}

.category-title{
  margin-top: 100px;
  margin-left:100px;
  border-left: 4px solid #90ff00;
  padding-left: 10px;
  font-weight: bolder;
  font-family: 'Outfit', sans-serif;
  font-size: 30px;
 
}

